@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #c2c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.profile_picture {
    border-radius: 50%;
    width: 45%;
    height: 45%;
    object-fit: cover;
}

.fullname {
    font-size: 18px;
}

.job__title {
    margin-top: -15px;
    border-bottom: 1px solid #c2c2c2;
}

.bio {
    text-align: justify;
    font-size: 10px;
}

.fa-solid {
    color: #a4a4a4;
    margin-right: 6px;
}

.fa-brands {
    margin: 0 10px;
    color: #3a3a3a;
    font-size: 20px;
}

.current_time {
    font-size: 10px;
    font-weight: 500;
}